table thead .sorting_asc {
    background-image: url("../fonts/sort_asc.png");
}
table thead .sorting_desc {
    background-image: url("../fonts/sort_desc.png");
}
table thead .sorting_both {
    background-image: url("../fonts/sort_both.png");
}
table thead .sorting, table thead .sorting_asc, table thead .sorting_desc, table thead .sorting_asc_disabled, table thead .sorting_desc_disabled {
    background-position: right center;
    background-repeat: no-repeat;
}
table thead .sorting, table thead .sorting_asc, table thead .sorting_desc {
    cursor: pointer;
}